.logo{
    height: 30px;
    width: 50px;
    margin-left: 10px;
}

.avatar{
    height: 30px;
    width: 30px;
}

.dropdown{
    margin-right: 10px;
}

.navbar{
    background-color: #283040 !important;
}