<app-tittle></app-tittle>
<app-container></app-container>
<div>
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary mb-3"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Nueva Venta
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ingresar Nueva Venta</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="pasajesForm" (ngSubmit)="onSubmit()">
                <label class="form-label">Seleccione un Cliente</label>
                  <select class="form-select" formControlName="cliente" [(ngModel)]="opcionSeleccionado" (change)="capturar()">
                    <option value="0">Seleccione una accion</option>
                    <option *ngFor="let data of dataClientes" [ngValue]="data.nombre + ' ' + data.apellido">{{data.nombre}} {{data.apellido}}</option>
                  </select>
                  <label class="form-label">Seleccione un Empleado</label>
                  <select class="form-select" formControlName="empleado" [(ngModel)]="rutaSeleccionado" (change)="capturarRuta()">
                    <option value="0">Seleccione una accion</option>
                    <option *ngFor="let data of dataEmpleados" [ngValue]="data.nombre + ' ' + data.apellido">{{data.nombre}} {{data.apellido}}</option>
                  </select>
                  <label class="form-label">Seleccione un Producto</label>
                  <select class="form-select" formControlName="producto" [(ngModel)]="costoSeleccionado" (change)="capturarCosto()">
                    <option value="0">Seleccione una accion</option>
                    <option *ngFor="let data of dataProductos" [ngValue]="data.nombre + ' - ' + data.marca">{{data.nombre}} - {{data.marca}}</option>
                  </select>
              </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()" data-bs-dismiss="modal">Guardar Cliente</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-table [data]="dataVentas" [columns]="columns" (onDelete)="deleteCliente($event)"></app-table>
  <app-keypad-buttom [data]="dataVentas" [titulo]="titulo"></app-keypad-buttom>