<ul class="nav flex-column bg-dark">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="url"><i class="bi bi-boxes"></i> Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="url"><i class="bi bi-basket"></i> Empleados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="url"><i class="bi bi-people-fill"></i> Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="url"><i class="bi bi-cart3"></i> Ventas</a>
      </li>
  </ul>
